
<!DOCTYPE html>
<html>

<head>
	<title>剧我所知</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" property="" />
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
	<link href="../static/css/simpleLightbox.css" rel='stylesheet' type='text/css' />
	<link href="../static/css/fontawesome-all.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Poppins:100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
	<header>
		<div class="header_top" id="home">
			<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
				<a class="navbar-brand" href="index.html">
					<i class="fab fa-digital-ocean"></i> 数据可视化</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto tp-nav text-center">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">主页
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="ranking.html">排行榜</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="wordcloud.html">词云</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/data1" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								数据分析
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="data1.html">2019，2020热门类型</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="data2.html">2019，2020长短集数量对比</a>
                                <div class="dropdown-divider"></div>
								<a class="dropdown-item" href="data3.html">2020一天当中的评论时间</a>
                                <div class="dropdown-divider"></div>
								<a class="dropdown-item" href="data4.html">月度时间播出与评论数量</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href=''>联系我们</a>
						</li>
					</ul>
					<form action="#" method="post" class="form-inline my-2 my-lg-0 search">
						<input class="form-control mr-sm-2" type="search" placeholder="Search here..." name="Search" required="">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>

				</div>
			</nav>
		</div>
	</header>

	<section class="banner-bottom">
		<div class="container">

			<!-- Three columns of text below the carousel -->
			<div class="row inner-sec-w3layouts-agileinfo">

				<div class="col-lg-5 bt-bottom-info" data-aos="fade-right">
					<h5>简单的介绍</h5>

				</div>
				<div class="col-lg-7 bt-bottom-info" data-aos="fade-left">
					<p>我们以豆瓣电视剧网站为研究目标，通过网络爬虫进行爬取的数据获取方式获得了2019至2020年豆瓣电视剧中电视剧名称、电视剧播出时间、电视剧评分、电视剧集数、用户评论以及对该评价的认可人数的数据。我们根据爬取得到的数据对电视剧类型、电视剧集数、电视剧评分以及用户评论进行分析与可视化。再以爬虫得到的用户评论中的形容词为关键词做成一张张词云，让用户能更加直观的了解该电视剧的口碑。</p>
				</div>
			</div>
			<div class="row inner-sec-w3layouts-agileinfo">
				<div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
					<div class="bt-icon">

						<span class="fas fa-trophy"></span>
					</div>

					<h4 class="sub-tittle_w3ls">排行榜</h4>
					<p>点击可查看排行榜</p>
					<p>
						<a class="btn btn-secondary view" href="ranking.html" role="button">查看详细</a>
					</p>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
					<div class="bt-icon">
						<span class="far fa-thumbs-up"></span>
					</div>

					<h4 class="sub-tittle_w3ls">数据分析</h4>
					<p>↓</p>
					<p>
						<a class="btn btn-secondary view" href="data1.html" role="button">查看详细</a>
					</p>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
					<div class="bt-icon">
						<span class="fas fa-tv"></span>
					</div>

					<h4 class="sub-tittle_w3ls">词云</h4>
					<p>点击查看词云</p>
					<p>
						<a class="btn btn-secondary view" href="wordcloud.html" role="button">查看详细</a>
					</p>
				</div>
				<!-- /.col-lg-4 -->
			</div>
		</div>
		<!-- /.row -->
		</div>
	</section>
	<!---->
	<!-- /stats -->
	<section class="stats_test container-fluid">
		<div class="row inner_stat_wthree_agileits">
			<div class="col-md-3 stats_left counter_grid">
				<i class="far fa-building"></i>
				<p class="counter">485</p>
				<h4>电视剧量</h4>
			</div>
			<div class="col-md-3 stats_left counter_grid1">
				<i class="fas fa-users"></i>
				<p class="counter">128284</p>
				<h4>评论内容</h4>
			</div>
			<div class="col-md-3 stats_left counter_grid2">
				<i class="far fa-edit"></i>
				<p class="counter">11419699</p>
				<h4>评论量</h4>
			</div>
			<div class="col-md-3 stats_left counter_grid3">
				<i class="far fa-smile"></i>
				<p class="counter">2</p>
				<h4>年</h4>
			</div>

		</div>
		</div>
	</section>
	<!-- //stats -->

	<!---->
	<div class="copyright">
		<div class="container">

			<div class="copyrightbottom" data-aos="fade-right">
				<p> &copy; 2021</p>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- js -->
	<script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!-- simpleLightbox -->
	<script src="../static/js/simpleLightbox.js"></script>
	<script>
		$('.proj_gallery_grid a').simpleLightbox();
	</script>
	<!-- //simpleLightbox -->
	<!-- flexSlider -->
	<script defer src="../static/js/jquery.flexslider.js"></script>
	<script type="text/javascript">
	 
	  $(window).load(function(){
		$('.flexslider').flexslider({
		  animation: "slide",
		  start: function(slider){
			$('body').removeClass('loading');
		  }
		});
	  });
	</script>
  
	<!-- //flexSlider -->

	<!-- stats -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<script src="../static/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->
	<!-- /js files -->
	<link href='../static/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
	<link href='../static/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
	<script src='../static/js/aos.js'></script>
	<script src="../static/js/aosindex.js"></script>
	<!-- //js files -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>


</body>

</html>