
<!DOCTYPE html>
<html>

<head>
	<title>排行榜</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	</script>
    <link rel="stylesheet" href="../static/css/layui.css" media="all">
	<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
	<link href="../static/css/blog.css" type="text/css" rel="stylesheet" media="all">
	<link href="../static/css/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/layui.css"  media="all">

	<link href="http://fonts.googleapis.com/css?family=Poppins:100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
	<header>
		<div class="header_top" id="home">
			<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
				<a class="navbar-brand" href="index.html">
					<i class="fab fa-digital-ocean"></i> 数据可视化</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto tp-nav text-center">
						<li class="nav-item">
							<a class="nav-link" href="index.html">主页

							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="ranking.html">排行榜</a>
                            <span class="sr-only">(current)</span>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="wordcloud.html">词云</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/data1" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								数据分析
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="data1.html">2019，2020热门类型</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="data2.html">2019，2020长短集数量对比</a>
                                <div class="dropdown-divider"></div>
								<a class="dropdown-item" href="data3.html">2020一天当中的评论时间</a>
                                <div class="dropdown-divider"></div>
								<a class="dropdown-item" href="data4.html">月度时间播出与评论数量</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href=''>联系我们</a>
						</li>
					</ul>
					<form action="#" method="post" class="form-inline my-2 my-lg-0 search">
						<input class="form-control mr-sm-2" type="search" placeholder="Search here..." name="Search" required="">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>

				</div>
			</nav>
		</div>
	</header>

	<section class="services">
		<div class="container">
            <figure>
			<h3 class="tittle_w3ls">排行榜</h3>

            <table class="layui-hide" id="test"></table>

            </figure>
			</div>
		</div>
	</section>

	<section class="stats_test container-fluid">
		<div class="row inner_stat_wthree_agileits">
			<div class="col-md-3 stats_left counter_grid">
				<i class="far fa-building"></i>
				<p class="counter">485</p>
				<h4>电视剧量</h4>
			</div>
			<div class="col-md-3 stats_left counter_grid1">
				<i class="fas fa-users"></i>
				<p class="counter">128284</p>
				<h4>评论内容</h4>
			</div>
			<div class="col-md-3 stats_left counter_grid2">
				<i class="far fa-edit"></i>
				<p class="counter">11419699</p>
				<h4>评论量</h4>
			</div>
			<div class="col-md-3 stats_left counter_grid3">
				<i class="far fa-smile"></i>
				<p class="counter">2</p>
				<h4>年</h4>
			</div>

		</div>
		</div>
	</section>
	<!-- //stats -->
	<div class="copyright">
		<div class="container">

			<div class="copyrightbottom" data-aos="fade-right">
				<p> &copy; 2021</p>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- js -->
	<script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
		<!-- /js files -->
		<link href='../static/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
		<link href='../static/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
		<script src='../static/js/aos.js'></script>
		<script src="../static/js/aosindex.js"></script>
		<!-- //js files -->
	<!--search-bar-->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/layui.js" charset="utf-8"></script>
<script>
    function addLink(d) {
　　var addLink = d.url;
   if ('' == addLink || null == addLink || undefined == addLink) {
        return '';
   }
   if (addLink.length > 0) {
        return '<a class="layui-table-link" href="'+d.url+'" lay-event="link">' + d.url + '</a>';
   }
}
layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#test'
    ,url:'data.json'
    ,toolbar: true
    ,title: '用户数据表'
    ,totalRow: true
    ,cols: [[
        {field:'num', type:"numbers"},
      {field:'name', title:'剧名', width:200, unresize: true,totalRowText: '合计行'}
      ,{field:'types', title:'类型', width:180}
      ,{field:'espoise', title:'集数', width:80,sort: true}
      ,{field:'date', title:'日期', width:150, sort: true}
      ,{field:'raten', title:'评论人数', width:150, sort: true, totalRow: true}
      ,{field:'rating', title:'评分', width:100, sort: true}
      ,{field: 'url',title: '词云', width: 180,  sort: true,templet: addLink}
    ]]
    ,page: true
      ,request: {
    pageName: 'page' //页码的参数名称，默认：page
    ,limitName: 'limit' //每页数据量的参数名，默认：limit
  }
    ,response: {
          statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
      }
    ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
      return {
        "code": res.status, //解析接口状态
        "msg": res.message, //解析提示文本
        "count": res.total, //解析数据长度
        "data": res.rows.item //解析数据列表
      };
    }
  });
});
</script>
</script>

</body>

</html>